<head>
	<link rel="stylesheet" type="text/css" href="style.css">

	<title>Select an account</title>
</head>

<body>
<h1>Select an account to see:</h1>
<p>
<a href="/data?name=sonia">Sonia</a><br>
<a href="/data?name=priya">Priya</a><br>

<a href="/sonia">Sonia</a><br>
<a href="/priya">Priya</a><br>
<a href="/both">Both</a><br>
</p>
</body>