<head>
	<link rel="stylesheet" type="text/css" href="new.css">
	<title>Account Info</title>
</head>
<body>

<div ID = "header">
<h1>Rock, Paper, Scissors</h1>
</div>

<h2>Ready to play?</h2>

<form action="/startgame">
	<p><label>Player 1 enter your name:</label>
	<input type="text" name="player1name"></p>
	<p><label>Player 2 enter your name:</label>
	<input type="text" name="player2name"></p>
	<p><input type="submit" value="Play Game!"></p>
</form>

</body>