<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="scripts.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Where's Waldo?</title>
</head>
<body>
	<h2>Find Waldo!</h2>
	<img src="waldo.jpg">
	<div class="timer">0 min 0 sec</div>

	<div class="modal_container" style="display:none">
		<div class="modal"></div>
		<div class="modalwindow">
			<div class="modalclose">X</div>
			<h3 class="message">You found Waldo!</h3>
			<h4 class="messagetime">Time</h4>
		</div>
	</div>

</body>
</html>