body {
	background-color: grey;
}

h2 {
	text-align: center;
}

img {
	display: block;
	margin: auto;
	width: 80%;
	border: 5px solid black;
}

.modal{
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.modalwindow {
  width: 500px;
  height: 400px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -200px;
  background: #fff;
  border: 2px solid black;
  padding: 30px;
}

.message {
	text-align: center;
	font-size: 40pt;
}

.messagetime {
	text-align: center;
	font-size: 30pt;
}

.modalclose {
  float: right;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px;
}


.timer {
  position:fixed;
  top: 2%;
  right: 2%;
  border: 1px solid #000;
  font-size: 20pt;
  padding: 5px;
}